.DS_Store
*.log

# Go
server/floofy-sun
server/.air/

# Python
client/__pycache__/
client/*.pyc
client/build/
client/dist/
client/*.spec
client/.venv/

# Local data
server/sites/
server/.registry.json
